<div class="flex bg-blue-200 px-5 justify-between items-center shadow">
  <div class="flex">
    <nav class="flex items-center gap-2">
      <a routerLink="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">HOME</a>
      <a routerLink="users" routerLinkActive="active">USERS</a>
      <a routerLink="posts" routerLinkActive="active">POSTS</a>
      <a routerLink="workers" routerLinkActive="active">WORKERS</a>
      <a routerLink="items" routerLinkActive="active">ITEMS</a>
    </nav>
    <div class="self-center p-1 m-4">{{routerState$|async|json}}</div>
  </div>
  <app-auth></app-auth>
</div>

<div class="p-5">
  <div class="loading" *ngIf="loading$|async">loading...</div>
  <router-outlet></router-outlet>
</div>
