@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply rounded px-2 py-1 text-black active:text-black border-2 border-gray-600;
  }
}

body {
    margin: 0;
    font-family: sans-serif;
}

.loading {
    position: absolute;
    left: 45%;
    top: 45%;
    color: red;
}

.info {
  @apply bg-green-200 p-4 rounded border border-green-400 border-solid;
}

button, input {
  @apply px-2 py-1.5 rounded border-2;
}

a {
  text-decoration: none;
  @apply btn;
}

a.active {
  @apply bg-blue-600 text-white;
}

button {
  @apply btn;
}
